CONFIDENCE_THRESHOLD=1.0
S3_UPLOAD_BUCKET=timesheets-pdf-uploads-01
S3_RAW_JSON_BUCKET=timesheet-scanned-raw-json01
SQS_PROCESS_QUEUE_URL=
SQS_REVIEW_QUEUE_URL=
SQS_DLQ_URL=
DB_HOST=database-1.cr8owmsee0em.us-east-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=pdf_pipeline
DB_USER=postgres
DB_PASSWORD=
